* {
    margin: 0;
    padding: 0;
}

.signup-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup-logo img {
    width: 10rem;
    height: 10rem;
}

#signup {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
}

.signup-wrap {
    padding-bottom: 1rem;
    border-radius: 1rem;
    background-color: white !important;
    width: 32rem;
    height: auto;
    text-align: center;
}

/* icon */
.input-icons svg {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.wrap-header {
    justify-content: center;
    display: flex;
    align-items: center;
}

.signup-close {
    display: flex;
    justify-content: right;
    width: 100%;
}

.signup-close-icon {
    padding: 1rem;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.signup-tittle {
    align-items: center;
    justify-content: center;
    display: flex;
}

.signup-description {
    margin: 1rem;
}

.signup-description span {
    font-weight: 600;
    color: #686868;
}

.signup-logo img {
    width: 4rem;
    height: 5rem;
}

.signup-email {
    margin: 2rem;
}

.signup-email input {
    background-color: #f7f7f7;
    transition: ease 0.1s;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    width: 22rem;
    height: 1rem;
    outline: none;
    color: black;
    font-weight: 500;
}

.signup-email input:focus {
    outline: 2px solid #f8a150;
}



.signup-phone {
    margin: 2rem;
}

.signup-phone input {
    background-color: #f7f7f7;
    transition: ease 0.1s;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    width: 22rem;
    height: 1rem;
    outline: none;
    color: black;
    font-weight: 500;
}

.signup-phone input:focus {
    outline: 2px solid #f8a150;
}

.signup-username {
    margin: 2rem;
}

.signup-username input {
    background-color: #f7f7f7;
    transition: ease 0.1s;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    width: 22rem;
    height: 1rem;
    outline: none;
    color: black;
    font-weight: 500;
}

.signup-username input:focus {
    outline: 2px solid #f8a150;
}


.signup-pass {

}

.signup-pass input {
    background-color: #f7f7f7;
    transition: ease 0.1s;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    width: 10rem;
    height: 1rem;
    outline: none;
    color: black;
    font-weight: 500;
}

.signup-pass input:focus {
    outline: 2px solid #f8a150;
}

.signup-repass {

}

.signup-repass input {
    background-color: #f7f7f7;
    transition: ease 0.1s;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    width: 10rem;
    height: 1rem;
    outline: none;
    color: black;
    font-weight: 500;
}

.signup-repass input:focus {
    outline: 2px solid #f8a150;
}

.input-icons svg {
    margin-top: 1rem;
    position: absolute;
    margin-left: -2rem;
}

.signup-cover {
    background-color: #00000091;
}

.signup-question {
    display: flex;
    justify-content: left;
    padding-left: 4rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #000;
    margin-bottom: 2rem;
}

.signup-button button {
    transition: ease 0.2s;
    font-weight: 600;
    font-size: 1.2rem;
    width: 18rem;
    height: 3rem;
    border: none;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
    border-radius: 15px;
    background: linear-gradient(0deg, #F9A150 0%, #F9A150 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
}

.signup-button button:hover {
    box-shadow: 0px 8px 15px 0px rgba(249, 161, 80, 0.51);
    color: white;
    cursor: pointer;
}

.signup-bottom {
    margin-top: 10px;
    gap: 0.5rem;
    justify-content: center;
    display: flex;
}

.signup-bottom_reques {
    transition: ease 0.2s;
    cursor: pointer;
    font-weight: 600;
    color: black;
}

.signup-bottom_reques:hover {
    color: rgb(0, 102, 255);
}

.signup-wrap-component {

    width: 100%;
    display: flex;
    justify-content: center;
}

.component-input {

}


.component-password {
    justify-content: center;
    gap: 5px;
    display: flex;
    align-items: center;
}

.signup-close-icon svg {
    transition: ease 0.2s;
    font-size: 1.5rem;
}

.signup-close-icon svg:hover {
    cursor: pointer;
    color: #555555;
}

/* Ticket component */

#ticket {
    margin-top: 5rem;
}

/* Search */
.search-takeoff {
    animation: pop-in 0.2s ease;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.takeoff-iconsearch {
    border: 1px solid #ccc;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: linear 0.2s;
}

.takeoff-iconsearch:hover {
    background-color: #f8a150;
}

.takeoff-iconsearch svg {
    color: #000000;
    font-size: 2rem;
}

.takeoff-iconclose {
    padding-inline-start: 1rem;
}

.search-takeoff input {
    box-sizing: border-box;
    color: #000;
    font-weight: 600;
    transition: ease 0.1s;
    padding-left: 1rem;
    width: 40rem;
    height: 4rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.5rem;
}

.search-takeoff input:focus {
    outline: 2px solid #f8a150;
}

.signup-close-icon svg {
    color: rgb(126, 126, 126);
}

.signup-close-icon {
    transition: linear 0.2s;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.signup-close-icon:hover {
    background-color: whitesmoke;
}



.search-arrrive {
    animation: pop-in 0.2s ease;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.arrrive-iconsearch {
    border: 1px solid #ccc;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: linear 0.2s;
}

.arrrive-iconsearch:hover {
    background-color: #f8a150;
}

.arrrive-iconsearch svg {
    color: #000000;
    font-size: 2rem;
}

.arrrive-iconclose {
    padding-inline-start: 1rem;
}

.search-arrrive input {
    box-sizing: border-box;
    color: #000;
    font-weight: 600;
    transition: ease 0.1s;
    padding-left: 1rem;
    width: 40rem;
    height: 4rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.5rem;
}

.search-arrrive input:focus {
    outline: 2px solid #f8a150;
}

.signup-close-icon svg {
    color: rgb(94, 94, 94);
}

.signup-close-icon {
    transition: linear 0.2s;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
}

.signup-close-icon svg:hover {
    color: #faa150;
}

.type_wrapper{
    animation: pop-in ease 0.2s;
}
#signup {
    animation: pop-in ease 0.2s;
}
.adult{
    animation: pop-in ease 0.2s;
}
#login {
    animation: pop-in ease 0.2s;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* Calender */
.wrap-calender {
    display: flex;
}

.calender-close svg {
    cursor: pointer;
    color: rgb(255, 156, 156);
    margin-left: 0.5rem;
    font-size: 2rem;
    transition: ease 0.2s;
}

.calender-close svg:hover {
    color: rgb(255, 82, 82);
    ;
}

.search_menu-btnreverse button svg {
    color: #000;
}

/* Adult */
.adult{
    border-radius: 0.5rem;
    background-color: white;
}

.adult-large {
    gap: 2rem;
    padding: 2rem;
    display: flex;
}

.adult-large_text p {
    font-weight: 700;
}

.adult-large_quantity {
    justify-content: center;
    gap: 2rem;
    display: flex;
    align-items: center;
}

.adult-large_quantity-minus {
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    font-weight: 600;
}

.adult-large_quantity-number {
    font-size: 1rem;
    font-weight: 600;

}

.adult-large_quantity-plus {
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    font-weight: 600;
}



.adult-child {
    margin-left: 6px;
    gap: 2rem;
    padding: 2rem;
    display: flex;
}

.adult-child_text p {
    font-weight: 700;
}

.adult-child_quantity {
    margin-left: 1.3rem;
    justify-content: center;
    gap: 2rem;
    display: flex;
    align-items: center;
}

.adult-child_quantity-minus {
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    font-weight: 600;
}

.adult-child_quantity-number {
    font-size: 1rem;
    font-weight: 600;

}

.adult-child_quantity-plus {
    transition: ease 0.2s;
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    font-weight: 600;
}




.adult-super-child {
    gap: 2rem;
    padding: 2rem;
    display: flex;
}

.adult-super-child_text p {
    font-weight: 700;
}

.adult-super-child_quantity {
    margin-left: 1.6rem;
    justify-content: center;
    gap: 2rem;
    display: flex;
    align-items: center;
}

.adult-super-child_quantity-minus {
    transition: ease 0.2s;
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    font-weight: 600;
}

.adult-super-child_quantity-number {
    font-size: 1rem;
    font-weight: 600;
    transition: ease 0.2s;
}

.adult-super-child_quantity-plus {
    transition: ease 0.2s;
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    font-weight: 600;
}

.adult-large_icon svg{

    font-size: 1.4rem;
}

.adult-child_icon svg{

    font-size: 1.4rem;
}

.adult-super-child_icon svg{

    font-size: 1.4rem;
}
.adult-btnClose{
    margin: 0.5rem 0.5rem 0 0;
    text-align: right;
}
.adult-btnClose svg{
    font-size: 1.5rem;
}

.adult-btnClose svg{
    cursor: pointer;
    transition: ease 0.2s;
    color: #f8a150;
}
.adult-btnClose svg:hover{
    color: rgb(255, 45, 97);
}

.adult-large_quantity svg:hover{
    color: rgb(223, 123, 42);
    cursor: pointer;
}

.adult-child_quantity svg:hover{
    color: rgb(223, 123, 42);
    cursor: pointer;
}
.adult-super-child_quantity svg:hover{
    color: rgb(223, 123, 42);
    cursor: pointer;
}
.btn-calender{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    margin-left: -15px;
}
.btn-calender button{
    width: 10rem;
}

.calender-info--city p{
    font-size: 1.1rem;
}
.search_menu-passenger{
    width: 11.5rem;
}
.search_menu-ticket{
    width: 11rem;
}
.search_menu-calender{
    width: 18rem;
}
.adult-wrap{

}
.btn-adult{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}
.btn-adult button{
    width: 10rem;
}
.adult-btnClose svg{
    margin-top: 0.5rem;
}